<div fxLayout="column" fxLayoutAlign="start start" class="parent" fxLayoutGap="30px">
  <div>
    Project user information using ng-content projection
  </div>

  <div fxLayout="row" fxLayoutGap="20px">
    <div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Enter user name</mat-label>
          <input matInput placeholder="Ex. Kevin" value="Kevin" #userName>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Enter user age</mat-label>
          <input matInput placeholder="Ex. 21" value="19" #userAge>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Enter user interest</mat-label>
          <input matInput placeholder="Ex. cars" value="Cars" #userInterest>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Enter other info</mat-label>
          <input matInput placeholder="Ex. cars" value="Cool" #other>
        </mat-form-field>
      </div>
    </div>

    <div>
      <app-core-user-a>
          <app-core-value-display [value]="userName.value" class="name"></app-core-value-display>
          <app-core-value-display [value]="userAge.value" class="age"></app-core-value-display>
        <div userinterest #interest>
          {{userInterest.value}}
        </div>
        <div #interest>
          {{other.value}}
        </div>
      </app-core-user-a>
    </div>
  </div>

</div>
