<mat-nav-list class="pb-5 side-nav">
  <div class="nav-title-container if" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="nav-title" (click)="onTitleClick()" fxLayout="row" fxLayoutAlign="start center"
      fxLayoutGap="5px">
      <!-- <div>
        <img src="assets/banner/money.png" class="logo-img" alt="logo">
      </div> -->
      <div class="text">
        {{navTitle}}
      </div>
    </div>
    <div class="">
      <button mat-icon-button class="mat-elevation-z0" (click)="onNavClose()">
        <mat-icon>menu_open</mat-icon>
      </button>
    </div>
  </div>

  <ul nz-menu nzMode="inline">
    <ng-container *ngFor="let parent of nestedMenu">
      <li nz-submenu [nzTitle]="parent.parent.display" [nzIcon]="parent.parent.iconName"
        [nzOpen]="parent.parent.url | menuOpenStatus">
        <ul>
          <ng-container *ngFor="let item of parent.parent.items">
            <ng-container *ngIf="(item.items && item.items.length > 0); else soloItem">
              <li nz-submenu [nzTitle]="item.display" [nzIcon]="item.iconName"
                [nzOpen]="[parent.parent.url, item.url] | urlFromArray | menuOpenStatus">
                <ng-container *ngFor="let sub of item.items">
                  <ul>
                    <li nz-menu-item [nzMatchRouter]="true">
                      <a class="fs-13" mat-line [routerLink]="[parent.parent.url, item.url, sub.url] | urlFromArray"
                        (click)="onNavItemClick()">
                          {{ sub.display }}
                      </a>
                    </li>
                  </ul>
                </ng-container>
              </li>
            </ng-container>

            <ng-template #soloItem>
              <li nz-menu-item [nzMatchRouter]="true">
                <a class="fs-13" mat-line [routerLink]="[parent.parent.url, item.url] | urlFromArray"
                  (click)="onNavItemClick()">
                    {{ item.display }}
                </a>
              </li>
            </ng-template>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</mat-nav-list>


